.addcrud{

    margin: 100px;
    h3{
        margin: 0 20px;
        font-family:Georgia, 'Times New Roman', Times, serif
      }
    .addcrud-form{
        display: flex;
        flex-direction: column;
        input{
            margin: 20px;
            padding: 10px;
            border: 0px;
            border-bottom: 1px solid green;
            border-left: 1px solid green;
        }
        button{
            margin: 20px;
            padding: 10px;
            border: 0px;
        }
    }

}