.header{
    display: flex;
    margin: 50px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    .option{
        color: white;
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-top: 50px;
        
       
        &:hover{
            background-color: white;
            color: blue;
            text-align: center;
            padding: 10px;
            font-weight: bolder;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        
    }
    .email{
        margin-left: 500px;
    }
    
   
    :any-link{
        text-decoration: none;
        color: white;
        &:hover{
            color: blue;
        }
    }
   
}